# Calculation outputs
fort.*
*_????????_??????

# Fortran 
*.o
*.mod
*.a

# data
*.dat
*.csv

# fortran compiled
hormat-so
front21.out
twofnr20.out
pChan_DOM

# test twofnr dir
test_twofnr/

# comparing wfns and smat hormat to pChan
Comparing_wfns_smat_pChan/
data_swapNLLELO/

# venv
.venv